

* {
	box-sizing: borde-box;
}

body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: sans-serif;
}

#header {
	z-index: 1;
	background-color: white;
	height: 100px;
	position: fixed;
	top: 0; left: 0; right: 0;
	
}

/*Search Box*/

input#liveSearch{
  width: 440px;
  height: 40px;
  margin-top: 30px;
  padding-left: 20px;
  background: white;
  border: 2px solid rgb(233, 233, 235);
  font-size: 16pt;
  color: #262626;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: none;
    
}




#wrapper {
	width: 980px;
	margin: auto;
	margin-top: 100px;

}

img {
	margin-right: 60px; 
	width: 150px;
	margin-bottom: 60px;
	margin-top: 5px;
}

.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: flex-start;
	flex-wrap: wrap;
}



#overlay {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height:100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  text-align:center;
  padding-bottom: 200px; 
}

#overlay img {
  margin-top: 40px;
  margin-bottom: 10px;
  margin-right: 0;
  border: 10px solid white;
  width: 50%;
}

#overlay {
  color: rgb(233, 233, 235);
}

#overlay .close {
    position: relative;
    bottom: 430;
    left: 370;
    color: aliceblue;
    padding: 5px 10px;
    border: dashed 3px white;
    border-radius: 80%;
}

#overlay .arrow_left {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-right: 14px solid #e2e2e2;
    position: absolute;
    top: 50%;
    margin-top: -14px;
    right: 98%;
    z-index: 2;
}


