

* {
	box-sizing: borde-box;
}

body {
	margin: 0;
	padding: 0;
	text-align: center;
}

#header {
	z-index: 1;
	background-color: white;
	height: 100px;
	position: fixed;
	top: 0; left: 0; right: 0;
	
}

#wrapper {
	width: 980px;
	margin: auto;
	margin-top: 100px;

}

img {
	margin-right: 60px; 
	width: 150px;
	margin-bottom: 60px;
	margin-top: 5px;
}

.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: flex-start;
	flex-wrap: wrap;
}

#liveSearch {
	margin: 40px;
	padding: 0 16pt;
	border-radius: 5px;
}