

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: sans-serif;
}

#header {
	z-index: 1;
	background-color: white;
	height: 100px;
	position: fixed;
	top: 0; left: 0; right: 0;
	
}

/*Search Box*/

input#liveSearch{
  width: 440px;
  height: 40px;
  margin-top: 30px;
  padding-left: 20px;
  background: white;
  border: 2px solid rgb(233, 233, 235);
  font-size: 16pt;
  color: #262626;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: none;
    
}




#wrapper {
	width: 980px;
	margin: auto;
	margin-top: 100px;

}

img {
	margin-right: 30px; 
  margin-left: 30px;
	width: 150px;
	margin-bottom: 60px;
	margin-top: 5px;
}

.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: flex-start;
	flex-wrap: wrap;
}



#overlay {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height:100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  text-align:center;
  padding-bottom: 200px; 

}

#overlay .full_size {
  margin-top: 40px;
  margin-bottom: 10px;
  margin-right: 0;
  border: 10px solid white;
  width: 700px;
}

#overlay {
  color: rgb(233, 233, 235);
}

#right {
  width: 50px;
  height: 50px;
  margin-top: 250px;
  margin-right: 60px;
  border: none;
  float: right;
  top: 40px;

}

#left {
  width: 50px;
  height: 50px;
  margin-top: 250px;
  margin-left: 60px;
  border: none;
  float: left;
  transform: rotate(180deg);
}

#left:hover,
#right:hover,
#close:hover {
  opacity: 0.5;
  cursor:pointer;
}

#close {
  width: 20px;
  height: 20px;
  margin:0;
  border: none;
  position: relative;
  left: 20px;
  top: -460px;
  
}

